.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Swift package manager items
Package.resolved

# Don't need this for this project as there are no shared
# schemes for the library.
.swiftpm